* { box-sizing: border-box; }

body {
  background-image: url("../../../public/images/ephemera/ignasi_pattern_s_dark.png"); 
}

a { color: darken($color: $link, $amount: 5); }

.link { cursor: pointer; }

// set heading sizes
$heading-prefix: h;
$starting-val: 2;

@for $i from 1 through 6 {
  #{$heading-prefix}#{$i} { font-size: #{$starting-val}em; }
  $starting-val: $starting-val - 2;
}
