.mix-container {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 700px;
  height: 400px;
  background-color: #333;
  padding: 10px;

  .track-controls-container {
    display: flex;
    height: 300px;
    min-width: 30px;

    .control-strip {
      width: 30px;
      margin: 0 auto;
      position: relative;
    }

    .control-strip .fader-track {
      width: 10px;
      background-color: #000;
      height: 100%;
      margin: 0 auto;
    }

    .control-strip .fader-knob {
      bottom: 0;
      left: 5px;
      width: 20px;
      position: absolute;
      height: 20px;
      border-radius: 20px;
      background-color: #fff;
    }

    .control-strip .mute-button {
      position: absolute;
      left: -15px;
      margin: 20px auto 0;
    }
  } 
}