header.main-header {
  padding: 0 2em;

  nav {
    border-bottom: 1px solid #aaa;

    .nav-item { 
      text-align: center; 
      font-size: 1.7em;
      margin: 0.5em 1.2em;
      padding-top: 2em;
      text-transform: uppercase;
      color: aliceblue;

      &.current-state:not(.main-logo) { text-decoration: underline; }

      span { 
        cursor: pointer; 
        transition: all 0.2s ease-out;
      }
      
      
      span:hover { color: darkorange; }
      
      &.main-logo {
        background-image: url("../../../public/images/logos/scr_invert.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        flex: 2;
      }
    }
  }
}