.artists.mounted { opacity: 1; }
.artists {
  padding: 0.5em;
  opacity: 0;

  .artist-tile { 
    max-width: 350px;
    min-width: 350px;
    margin: 1em;
    position: relative;
    opacity: 0;
    transform: translateY(100px) translateZ(-1000px);
    transition: transform 0.4s, opacity 0.4s;

    figure {
      box-shadow: 1px 1px 3px #888;
      
      .image-container {
        height: 18vw;
        max-height: 220px;
        min-height: 220px;
        overflow: hidden;

        > div { 
          opacity: 0; 
          transition: opacity 0.3s ease-in-out; 
          position: absolute;
          width: 100%;
          top: 0;
          padding: 1em;
          background-color: rgba(0,0,0,0.6);
          height: 18vw;
          max-height: 220px;
          min-height: 220px;
          
          p {
            font-family: monospace;
            height: 10vw;
            min-height: 145px;
            overflow: scroll;
            color: white;
            font-size: 1.3em;
            line-height: 1.4em;
            border-bottom: 1px solid;
          }
          
          div { text-align: center; }

          canvas {
            opacity: 0;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 206px;
            height: 50px;
            width: 350px;
            left: 0;
            filter: drop-shadow(-3px 2px 20px #666);
          }

          svg { 
            width: 100%;
            max-width: 50px;
            max-height: 50px;
            margin-top: 5px;
            padding: 0.1em;
            // transition: filter 0.2s ease-in-out;
            cursor: pointer;

            
            #play-button > path { fill: #ccc; transition: fill 0.3s ease-in-out; }

            #hoops { opacity: 0; transition: opacity 0.4s ease-in-out; }

            circle {
              fill: darkturquoise;
              stroke: black;
            }
          }
        }
      }

      .image-container:hover, .image-container.playing {
         > div { opacity: 1; }
      }

      .image-container.playing {
        > div svg #hoops { opacity: 1; }
        > div svg { filter: drop-shadow(1px 1px 20px #fff) brightness(1.4);}
        canvas { opacity: 1; }
        svg #play-button > path { fill: #fff; }
      }

      figcaption { 
        background-color: rgba(10,10,40,0.5);
        text-align: center; 
        margin: 0 0 0.4em 0;
        font-size: 1.4em;
        padding: 0.3em;
        trasition: all 0.3s ease-in-out;
        a { font-family: monospace; color: floralwhite; }
      } 

      figcaption.playing { background-color: rgba(0,0,0,0.8);}
      figcaption.playing a { color: #666; }

      img { width: 100%; }
    }
  }

  .artist-tile {
    

    &.mounted {
      opacity: 1;
      transform: translateY(0) translateZ(0);
    }

    &.mounted:nth-child(2) {
      transition-delay: 0.1s;
    }

    &.mounted:nth-child(3) {
      transition-delay: 0.2s;
    }

    &.mounted:nth-child(4) {
      transition-delay: 0.3s;
    }

    &.mounted:nth-child(5) {
      transition-delay: 0.4s;
    }

    &.mounted:nth-child(6) {
      transition-delay: 0.5s;
    }

    &.mounted:nth-child(7) {
      transition-delay: 0.6s;
    }

  }
}