div.todo-wrapper {
  margin: 0 auto;
  max-width: 600px;

  a.btn { position: relative; top: 18px; }
  input.input-field {
    position: relative;
    top: 20px;
    width: 90%;
    height: 20px;
  }
  ul.list {
    li.collection-header { text-align: center;   }
    li.collection-item   { cursor: pointer;      }
    li.todo-input        { padding-bottom: 20px; }
  }
}